<form action="/create" method="post">
  <label for="new_file">Add a new document:</label>
  <div>
    <input name="new_file" placeholder="" type="text" value="">  
    <button type="submit">Create New File</button>
  </div>
</form>