<form action="/signin" method="post">
  <div>
    <label for="username">Username:</label>
    <input name="username" placeholder="" type="text" value="">
  </div>
  <div>
    <label for="password">Password:</label>
    <input name="password" placeholder="" type="text" value="">
  </div>
  <button type="submit">Sign in</button>
</form>